.navigation {
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &--boosted {
    z-index: 10000;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--white-200);
    margin: 0 32px;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    &--left,
    &--right {
      display: flex;
      flex-direction: row;
      gap: 10px;

      p {
        margin: auto;
      }
    }

    &--left {
      a {
        font-family: "Migra-Extralight";
        font-size: var(--fs-lg);
        margin-right: 5px;
      }
    }
  }
}
